<div class = "container">
  <div class = "row">
    <div class = "col-md-12 text-center" id="top-bar">
      <h1>Yummy Burgers to Eat</h1>
      </div>
    <div class = "col-md-6 text-center" id="task">
      <div class = "row">
          {{#each burger_data}}
            {{#unless this.devoured}}
     <div class = "col-md-6 text-center">
      <form method="POST" action=/burgers/update?_method=PUT" class="button-size">
        <input type="hidden" name="burger_id" type="text" value={{this.id}}>
        <br>
        <button type="submit" class="btn btn-default">EAT IT</button>
        </form>
      </div> 
      {{/unless}}
      {{/each}} 
      </div>
    </div>
  </div>
</div>